# TCDD Ayarları
BINIS_ISTASYONU=İstanbul(Söğütlüçeşme)
INIS_ISTASYONU=SELÇUKLU YHT (KONYA)
TARIH=2026-08-30
SAAT=15:10
SAAT_KONTROL=true
VAGON_SINIFLARI=EKONOMİ
MINIMUM_KOLTUK=1
DOGRULAMA_SAYISI=2
HATA_BILDIRIM_ESIGI=3

# Twilio WhatsApp ayarları
TWILIO_ACCOUNT_SID=your_account_sid
TWILIO_AUTH_TOKEN=your_auth_token
TWILIO_WHATSAPP_NUMBER=whatsapp:+14155238886
KULLANICI_WHATSAPP_NUMARASI=whatsapp:+90xxxxxxxxxx

KONTROL_SIKLIGI=180
